<h1 class="container" id="logo">
    <%= link_to root_path do %>
   <%= image_tag "logo.png", class: "logo" %>
<% end %>
</h1>
<head class="style">
        <div class="jumbotron"> 
            <table>
                <th class="style">
                    <%= image_tag "dtb.jpg", class: "logo" %>
                </th>
                <th>
                    <h1 style=" color : white; letter-spacing: -4px; font-size: 6.5em; text-align: center; margin-left: 400px; text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; margin-right: 30px;">
                          <b>Le Distributeur</b>
                    </h1> 
                    <h2 style=" font-size: 3.0em; text-align: center; margin-left: 400px; margin-bottom: 60px; margin-right: 30px;  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; margin-right: 30px; color: white;">
                             
                    </h2>
                    <p style=" font-size: 1.6em; text-align: justify; margin-left: 400px; margin-right: 30px; color: #646464;">
                            Le ditributeur automatique de légumes vous propose à n'importe quelle heure de la journée des produits frais et locaux: en effet le distributeur est accessible de 8h à 21h 7j/7.</br>Nous proposons des produits de saison et garantissons la provenance de chacun.</br>Ce distributeur est le premier en Sarthe

                    </p>         
                </th>
            </table>
        </div>
                <div class="container5">
            <div class="row">
                <div class="col-sm-12">
                    <div id="myslider" class="carousel slide" data-ride="carousel">
                        
                        
                        <div class="carousel-inner"role="listbox">
                            <div class="item active" id="img1">
                                <%= image_tag ('cont.jpg') %>
                                <div class="carousel-caption">
                                    <h1>SCEA BLIN</h1>
                                </div>
                                
                            </div>
                            <div class="item" id="img1">
                                <%= image_tag ('dist.jpg') %>
                                <div class="carousel-caption">
                                    <h1>SCEA BLIN</h1>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </head>

