<footer>
    </br>
        </br>
        <h1>
            <%= link_to "Accueil", root_path %>
            <%= link_to "  B to B", btob_path %>
            <%= link_to "  Distributeur", distributeur_path %>
            <%= link_to "  Entreprise", entreprise_path %>
            <%= link_to "  Contact", contact_path %>
        </h1>
        <p> Localisez <b> SCEA Blin</b> <%= link_to "Cliquez Ici", "https://www.google.com/maps/place/Gaec+Blin/@47.9487163,0.3041583,14z/data=!4m8!1m2!2m1!1zbWFyYcOuY2hlciDDoCBwcm94aW1pdMOpIGRlIFBhcmlnbsOpLWwnw4l2w6pxdWU!3m4!1s0x47e2f2b547f99539:0xa1060125b218373c!8m2!3d47.9401728!4d0.3297848", :target => "_blank" %></p>
</footer>