<div class="navbar navbar-fixed-top affix-top">
    <head>
        <div id="navbar">
            <ul>
                <b>
                    <li><a><b><%= link_to "Accueil", root_path %></b></a></li>
                    <li><a><b><%= link_to "Entreprise", entreprise_path %></b></a></li>
                    <li><a><b><%= link_to "Le Distributeur", distributeur_path %></b></a></li>
                    <li><a><b><%= link_to "B to B", btob_path %></b></a></li>
                    <li><a><b><%= link_to "Contact", contact_path %></b></a></li>
                </b>
            </ul>
        </div>
    </head>
</div>
